
.header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  .logo {
    width: 200px;
    height: 60px;
    background: url('@/assets/logo.png') no-repeat center / 160px auto;
  };
  .userInfo {
    .userName {
      margin-right: 20px;
      color: #fff;
    }
    .userLogout {
      margin-right: 20px;
      color: #fff;
      span {
        margin-left: 5px;
      }
    }
  }
}

.layoutSider {
  width: 200px;
  .siderMenu {
    background-color: #001529;
  }
}
.layoutContent {
  padding-left: 10px;
  padding-top: 10px;
}